.fixedNav {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 200;
    width:100%;
}

.contentSpacing {
    margin-top: 4em;
}

.loginForm{
    background-color: #f8f9fa;
    border-radius: 5px;
    padding : 1em;
}

.loginContainer{
    width:20em;
    margin-top:2em;
}

.loginForm > input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 0.6em 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.loginForm > button{
    width:100%;
    margin-top:1em;
    font-weight: 500;
}

.loginContainer > p {
    text-align:center;
}

.signUp{
    color:red;
    font-weight: bold;
    cursor:pointer;
}

.err{
    color:red;
    font-weight: bold;
    text-align:center;
}

.userText{
    margin-right:1em;
}

.categoryLink{
    width:100%;
}

.categoryLink:hover{
    text-decoration: none;
}

.headerList, .category{
    border-bottom: 1px solid #eff0f1;
    padding: .5em .1em;
}

.categoryContent{
    margin:0 1em;
}

.jobOffer{
    background-color: #f8f9fa;
    border-radius: 5px;
    padding : 1em;
    display:block;
}

.jobOffer > button{
    width:100%;
}

.profile > a{
    display:block;
    margin-bottom:1em;
    color:black;
    border-bottom: 1px solid #ccc;
    font-size:24px;
    text-align:center;
}

.profile > a:hover{
    text-decoration: none;
}

.profile > button{
    font-size:24px;
    width:100%
}

.jobOfferInput{
    width: 100%;
    height: 2.429em;
    background-color: #fff;
    border: #ccc 1px solid;
    border-radius: 4px;
    padding-left:1em;
}

.jobOffertxtArea{
    width: 100%;
    height: 10em;
    background-color: #fff;
    border: #ccc 1px solid;
    border-radius: 4px;
    padding-left:1em;
    padding-top:0.5em;
}

.jobOfferContainer > p{
    margin-top:0.8em;
}

.jobOfferContainer > button{
    width:100%;
    margin-top:1em;
}
